# EXN CCSDSPack v2 Interface: GS Link/Proxy ACK (Service 250/1)
# GS reporting packet -> MCU. TM APID identifies GS as the producing endpoint.

ccsds_packet_error_control:string=crc16
data_field_size:int=16
sync_pattern_enable:bool=false
validation_enable:bool=true

ccsds_version_number:int=0
ccsds_APID:int=0x0F0
ccsds_segmented:bool=false

define_secondary_header:bool=true
secondary_header_type:string=PUS:revA:TM
pus_destination_id_octets:int=0
secondary_header_spare_octets:int=0
pus_service_type:uint=250
pus_service_subtype:uint=1
pus_destination_id:uint=0
