# EXN CCSDSPack v2 Interface: HK Request (Service 3/1)
# MCU -> node. Default target is PI; override APID to 0x100 or 0x102 as required.

ccsds_packet_error_control:string=crc16
data_field_size:int=64
sync_pattern_enable:bool=false
validation_enable:bool=true

ccsds_version_number:int=0
ccsds_APID:int=0x101
ccsds_segmented:bool=false

define_secondary_header:bool=true
secondary_header_type:string=PUS:revA:TC
pus_source_id_octets:int=1
secondary_header_spare_octets:int=0
pus_service_type:uint=3
pus_service_subtype:uint=1
pus_acknowledgement_flags:uint=0
pus_source_id:uint=0x01
